{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>about us</h4>
                            <h2>more about us!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Banner Ends Here -->

    <section class="about-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <img src="{% static 'images/about-us.jpg' %}" alt="">
                    <p>About Us

                        We believe a great digital product should be more than just visually appealing. It should be
                        fast, simple, useful, and enjoyable to use.

                        This project was created with the goal of building a modern and meaningful digital experience
                        where clean design, thoughtful development, and attention to detail come together. <br></br> From the very
                        first line of code to the smallest interface details, every part has been designed and developed
                        with purpose.

                        For us, learning and improving are an essential part of the development journey. Every project
                        is an opportunity to explore new technologies, solve real-world problems, experiment with new
                        ideas, and turn simple concepts into useful products.

                        This project represents countless hours of learning, experimenting, problem-solving, and a
                        genuine passion for building things from scratch. But the journey doesn't end here. There is
                        always something new to learn, something to improve, and something better to build.

                        We don't just write code to make things work; we build with the goal of creating something worth
                        using.
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="social-icons">
                        <li><a target="_blank" href="{{ about.github }}"><i class="fa fa-github"></i></a></li>
                        <li><a target="_blank" href="{{ about.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="{{ about.instagram }}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
</html>